html
	head
	title= title
body
	h1= message
	ul
		each val in clips
			test
				// need to finish this, you have something that works!
				|<iframe src="https://vid.me/e/ElbJ?autoplay=1" width="854" height="480" frameborder="0" |allowfullscreen webkitallowfullscreen mozallowfullscreen scrolling="no"></iframe>
			